<header class="container layout__header">
  <div class="content-container layout__header-content">
    <div class="column-one">
      <span class="layout__header-title">Kyle A. Clark</span>
      <span class="layout__header-subtitle">...sports tech guy</span>
    </div>
    <div class="column-two">
      <nav class="layout__header-nav">
        <ul>
          <li><a title="Home">About</a></li>
          <li><a title="Portfolio">Projects</a></li>
          <li><a title="Content">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
