@import "~style/common/_variables";
@import "~style/common/_mixins";

.layout__header {
  background-color: $white;
  border-bottom: 1px solid $grayFirmDarkest;
  z-index: 1000;
}

.layout__header-content {
  padding: 15px 0 40px 0;

	.column-one {
    float: left;
    width: 50%;
  }

  .column-two {
    display: none;

    /* Tablet Media Query */
    @include apply-to(min-width, $bodySizeTablet) {
      display: block;
      float: left;
      text-align: center;
      width: 50%;
    }

    /* Desktop Media Query */
    @include apply-to(min-width, $bodySizeDesktop) {
      text-align: right;
    }
  }
}

.layout__header-title {
  color: $greenDark;
  display: inline-block;
  font-size: $fontSizeDefault;
  font-weight: 400;
  margin: -6px 0 0;
  padding: 0;
  text-decoration: none;
  text-transform: lowercase;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeTablet) {
    font-size: $fontSizeMedium
  }
}

.layout__header-subtitle {
  color: $grayFirmLight;
  display: inline-block;
  font-size: $fontSizeTiny;
  padding-left: 2px;
  margin-top: -6px;
  font-style: italic;
  text-transform: lowercase;
}

.layout__header-nav {
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding-left: 25px;
  }

  a {
    color: $colorLink;
    cursor: pointer;
  }

  a:hover {
    color: $colorLinkHover;
  }
}

.layout__header-nav-link {
  color: red;
}
