@import "~style/common/_variables";
@import "~style/common/_mixins";

.projects__item {
  text-align: left;
  padding: 5px;
}

.projects__item--title {
  color: $colorSubTitle;
  margin: 15px 0 5px;
}

.projects__item--timeline {
  color: $colorTextMed;
  font-style: italic;
  margin: 3px 0;
}

.projects__item--main {
  border: 2px solid rgba($colorBorderLight, 0.5);
  border-radius: 5px;
  padding: 5px;

  @include apply-to(min-width, $bodySizeDesktop) {
    padding: 8px;
  }
}

.projects__item--techs {
  display: inline-block;
  vertical-align: top;
  width: 14%;
}

.projects__item--techs-icon {
  color: $colorAlt;
  display: inline-block;
  font-size: $fontSizeHuge;
  padding: 0 5px;

  @include apply-to(min-width, $bodySizeDesktop) {
    font-size: $fontSizeSuper;
  }
}

.projects__item--overview {
  display: inline-block;
  vertical-align: top;
  width: 84%;

  @include apply-to(min-width, $bodySizeDesktop) {
    width: 85%;
  }
}

.projects__item--description {
  display: block;
}

.projects__item--references {
  display: block;
  font-size: $fontSizeTiny;
  margin-top: 12px;

  @include apply-to(min-width, $bodySizeTablet) {
    font-size: $fontSizeSmall;
    margin-top: 16px;
  }
}
