<div class="projects__item">
  <div class="projects__item-container">

    <h3 class="projects--item-title">{{ project.headline }}</h3>

    <main class="projects__item-main">

      <div class="projects__item--techs">

        <div class="projects__item--techs-content">

          <div *ngFor="let tech of project.techs"
               class="projects__item--techs-icon">

            <i class="devicon-{{tech}}-plain" title="{{tech}}"></i>

          </div>

        </div>

      </div>


      <div class="projects__item--overview">

        <div class="projects__item--overview-content">

          <div class="projects__item--description">
            {{ project.description }}
          </div>

          <div class="projects__item--timeline">
            {{ project.timeline }}
          </div>

        </div>

      </div>


      <div class="projects__item--references">

        <div class="projects__item--references-content">

          <span *ngIf="project.github"
                class="projects__item--references-link">
            <a href="{{project.github.url}}" target="_blank">{{ project.github.name }} </a>
          </span>

          <span *ngIf="project.website"
                class="projects__item--references-link">
            website
          </span>

        </div>

      </div>

    </main>

  </div>
</div>
