<div class="projects__item">

  <div class="projects__item--container">

    <h3 class="projects__item--title">{{ project.headline }}</h3>


    <main class="projects__item--main">

      <div class="projects__item--techs">

        <div class="projects__item--techs-content">

          <div *ngFor="let tech of project.techs"
               class="projects__item--techs-icon">

            <i class="devicon-{{tech}}-plain" title="{{tech}}"></i>

          </div>

        </div>

      </div>


      <div class="projects__item--overview">

        <div class="projects__item--description">
          {{ project.description }}
        </div>


        <div class="projects__item--references">

          <a *ngIf="project.website"
              class="projects__item--references-link"
              href="{{project.website.url}}"
              target="_blank">
            {{ project.website.name }}
          </a>

          <a *ngIf="project.github"
              class="projects__item--references-link"
              href="{{project.github.url}}"
              target="_blank">
            {{ project.github.name }}
          </a>

        </div>

      </div>

    </main>


    <h6 class="projects__item--timeline">{{ project.timeline }}.</h6>

  </div>

</div>
