@import "~style/common/_variables";
@import "~style/common/_mixins";

.layout__footer {
  background-color: $colorBorderDark;
}

.layout__footer-content {
  font-size: $fontSizeTiny;
  padding: 10px 0;
}

.layout__footer-title {
  color: $colorBrandDark;
  display: inline-block;
  text-transform: lowercase;
}

.layout__footer-subtitle {
  color: $colorTextLight;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  padding-left: 2px;
  text-transform: lowercase;
}
