@import "~style/common/_variables";
@import "~style/common/_mixins";

.herospace {
  background-image: url("img/bg.jpg");
  background-color: $colorSkinAlt;
  background-size: 100% 100%;
  color: $colorWhite;
  border-top: 2px solid $colorBorderDark;
  border-bottom: 2px solid $colorBorder;
}

.herospace__content {
  padding: 10px 0;
  text-align: center;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    padding: 40px 0 0;
  }
}

.herospace__content--overview {
  margin-top: 20px;
}

.herospace__title {
  color: $colorWhite;
  font-size: $fontSizeHuge;
  margin: 0 0 10px;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeMobileLarge) {
    font-size: $fontSizeSuper;
  }
}

.herospace__subtitle {
  color: $colorWhite;

  margin: 0;
  margin-top: 6px;
}

.herospace__parenthetical {
  color: $colorTextLight;
  font-size: $fontSizeSmall;
  font-style: italic;
  font-weight: 700;
  margin-top: 5px;
  text-transform: lowercase;
}
