<div class="container herospace">

  <div class="content-container">

    <div class="herospace__content">

        <h1 class="herospace__title">Hello, my name is Kyle Clark.</h1>
        <hr class="hr-headline">

        <div class="herospace__content--overview">
          <img src="img/me.jpg" />
          <h3 class="herospace__subtitle">Software Engineer</h3>
          <h4 class="herospace__parenthetical">aspiring data scientist<br />&amp; sports enthusiast</h4>
        </div>

    </div>

  </div>

</div>
