<div class="about__content">

  <h2 class="headline">About</h2>
  <hr class="hr-headline">

  <p class="about__paragraph">I am 30 years old and married to a beautiful wife with two dogs. I was born in Arizona and work locally at Carvana as a software developer.<p>

  <p class="about__paragraph">My personal passion is in data science with the myriad of learning opportunities through the sports analytics domain or within the machine learning technology space.</p>

  <p class="about__paragraph">My dream job is to work in the basketball operations for the Phoenix Suns.</p>

  <hr class="hr-divider">

</div>
