<div class="about__content">

  <h2 class="headline">About</h2>
  <hr class="hr-headline">

  <p class="about__paragraph">I am 30 years old and married to a beautiful wife with two dogs. I live in Arizona where I was born, and work at Carvana as a software developer &mdash; previously at San Francisco-based startups Kissmetrics and SRC:CLR.<p>

  <p class="about__paragraph">My personal passion is data science including machine learning and data analytics, particularly sports and science domains. In high school, I began game programming in C++, and throughout college I studied philosophy.</p>

  <p>I am a lifelong learner.</p>

  <hr class="hr-divider">

</div>
