@import "~style/common/_variables";
@import "~style/common/_mixins";

.contact__content {
  margin: 30px 0;
  text-align: center;

  @include apply-to(min-width, $bodySizeDesktop) {
    margin: 50px 0;
  }
}
