<div class="contact__content">

  <h2 class="headline">Get In Touch!</h2>
  <hr class="hr-headline">

  <p>I'm always open to interesting opportunities and sharing more about my personal projects.<br />Don't hesitate to get in touch if interested.</p>

  <p>
    <a href="http://github.com/kyleaclark" target="_blank">github</a>
    <span class="pipe">|</span>
    <a href="http://twitter.com/ball_cruncher" target="_blank">twitter</a>
    <span class="pipe">|</span>
    <a href="http://www.linkedin.com/in/kyleaclark" target="_blank">linkedin</a>
    <br />
    <a href="http://www.ballcruncher.com/" target="_blank">ballcruncher</a>
  </p>

</div>
