@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700);

body {
  color: $colorText;
  font: 500 16px/1.6 "Raleway", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, .h1   { font-family: "Raleway"; font-size: $fontSizeSuper; }
h2, .h2   { font-size: $fontSizeHuge; }
h3, .h3   { font-size: $fontSizeLarge; }
h4, .h4   { font-size: $fontSizeMedium; }
h5, .h5   { font-size: $fontSizeSmall; }
h6, .h6   { font-size: $fontSizeTiny; }

a {
  color: $colorLink;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: $colorLinkHover;
}
