.info__item {
  margin: 0 auto;
  width: 98%;

  /* Desktop Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    width: $bodySizeDesktop;
  }
}

.info__item-container {
  padding: 40px 5px 20px 5px;

  /* Desktop Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    width: 80%;
  }
}
