@import "~style/base/_variables";
@import "~style/base/_mixins";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  float: left;
  width: 100%;
}

.content-container {
  margin: 0 auto;
  width: 98%;

  /* Desktop Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    width: $bodySizeDesktop;
  }
}

main {
  padding: 40px 5px 20px 5px;

  /* Desktop Media Query */
  @include apply-to(min-width, $bodySizeDesktop) {
    width: 80%;
  }
}

.app-header, .footer {
  background-color: $colorSkinPrimary;
}
