<section
  *ngFor="let block of contentList; #i = index"
  class="blocks__content-list"
>

  <div>
    <h3>{{ block.headline }}</h3>

    <ul>
      <li *ngFor="let content of block.body">
        {{ content }}
      </li>

      <li *ngIf="block.github">
        <a [href]="block.github.url" target="_blank" title="{{block.github.name}}">{{ block.github.name }}</a>
      </li>

      <li *ngIf="block.website">
        <a [href]="block.website.url" target="_blank" title="{{block.website.name}}">{{ block.website.name }}</a>
      </li>

    </ul>
  </div>

</section>
