/*=============================
  COLORS
-------------------------------*/

$white: #f9f9f9;
$whiteDark: darken($white, 8%);
$whiteLight: lighten($white, 8%);

$blue: #3aaba5;
$blueDark: darken($blue, 12%);
$blueDarkest: darken($blue, 32%);
$blueLight: lighten($blue, 4%);
$blueLightest: lighten($blue, 30%);
$blueMedLight: lighten($blue, 2%);

$green: #0A5741;
$greenDark: #142428;
$greenLight: #2e3e42;
$greenLightest: #8b9496;
$greenMedLight: #737e81;

$greenBlueAlt: #38646e;

$graySoft: #e9e9e9;
$grayMed: #bdbebd;
$grayMedLight: #d3d3d3;
$grayFirm: #262723;
$grayFirmDarkest: #161715;
$grayFirmLight: #3b3c38;

$gold: #ab3a40;
$goldDark: darken($gold, 5%);

/*=============================
  THEME COLORS
-------------------------------*/

/* Base color sets for containers */

$colorSkinPrimary: $white;
$colorSkinSecondary: $grayFirmDarkest;

/* Base color sets for content */

$colorText: $grayFirmDarkest;
$colorTextLight: $grayMed;
$colorTextTitle: $green;
$colorTextSubTitle: $grayFirmLight;
$colorTextWhite: $whiteDark;

$colorLink: $gold;
$colorLinkHover: $grayFirmLight;
$colorLinkHoverLight: $grayMedLight;
$colorLinkWhite: $white;
$colorLinkWhiteHover: $whiteDark;

$colorSnazzy: $gold;
$colorSnazzyDark: $goldDark;

$colorBorder: $grayFirm;
$colorBorderDark: $grayFirmDarkest;
$colorBorderLight: $grayFirmLight;

$colorBlock: $grayFirm;
$colorBlockLight: $blueMedLight;


/*=============================
  BODY SIZES
-------------------------------*/

$bodySizeDefault: 320px;
$bodySizeMobileSmall: 360px;
$bodySizeMobileLarge: 480px;
$bodySizeMobileLandscape: 640px;
$bodySizeTablet: 768px;
$bodySizeDesktop: 800px;

$navSliderDesktopSize: 150px;

/*=============================
  CONTENT SIZES
-------------------------------*/

$contentSizeDesktop: 700px;
$navSizeDesktop: 160px;

/*=============================
  FONT SIZES
-------------------------------*/

$fontSizeDefault: 1.00em;
$fontSizeTiny: 0.75em;
$fontSizeSmall: 0.85em;
$fontSizeMedium: 1.15em;
$fontSizeLarge: 1.25em;
$fontSizeHuge: 1.50em;
$fontSizeSuper: 2.00em;
$fontSizeSuperSizeMe: 2.50em;
