/*=============================
  COLORS
-------------------------------*/

$white: #f9f9f9;
$whiteDark: darken($white, 8%);
$whiteLight: lighten($white, 8%);

$green: #3aaba5;
$greenDark: darken($green, 12%);
$greenDarkest: darken($green, 32%);
$greenLight: lighten($green, 4%);
$greenLightest: lighten($green, 30%);
$greenMedLight: lighten($green, 2%);

$graySoft: #e9e9e9;
$grayMed: #bdbebd;
$grayMedLight: #d3d3d3;
$grayFirm: #262723;
$grayFirmDarkest: #161715;
$grayFirmLight: #3b3c38;

$red: #ab3a40;
$redDark: darken($red, 5%);

/*=============================
  THEME COLORS
-------------------------------*/

/* Base color sets for containers */

$colorSkinPrimary: $white;
$colorSkinAlt: $grayFirmLight;

/* Base color sets for content */

$colorWhite: $white;

$colorBrand: $green;
$colorBrandDark: $greenDark;

$colorAlt: $red;

$colorTitle: $green;
$colorSubTitle: $grayFirmLight;

$colorText: $grayFirmDarkest;
$colorTextMed: $grayFirmLight;
$colorTextLight: $grayMedLight;
$colorTextWhite: $whiteDark;

$colorLink: $red;
$colorLinkHover: $grayFirmLight;
$colorLinkHoverLight: $grayMedLight;
$colorLinkWhite: $white;
$colorLinkWhiteHover: $whiteDark;

$colorBorder: $grayFirm;
$colorBorderDark: $grayFirmDarkest;
$colorBorderLight: $grayFirmLight;

$colorBlock: $grayFirm;
$colorBlockLight: $greenMedLight;


/*=============================
  BODY SIZES
-------------------------------*/

$bodySizeDefault: 320px;
$bodySizeMobileSmall: 360px;
$bodySizeMobileLarge: 480px;
$bodySizeMobileLandscape: 640px;
$bodySizeTablet: 768px;
$bodySizeDesktop: 800px;

$navSliderDesktopSize: 150px;

/*=============================
  CONTENT SIZES
-------------------------------*/

$contentSizeDesktop: 700px;
$navSizeDesktop: 160px;

/*=============================
  FONT SIZES
-------------------------------*/

$fontSizeDefault: 1.00em;
$fontSizeTiny: 0.75em;
$fontSizeSmall: 0.85em;
$fontSizeMedium: 1.15em;
$fontSizeLarge: 1.25em;
$fontSizeHuge: 1.50em;
$fontSizeSuper: 2.00em;
$fontSizeSuperSizeMe: 2.50em;
