@import "~style/common/_variables";
@import "~style/common/_mixins";

.hero {
  background-image: url("img/about-bg.jpg");
  background-size: 100% 100%;
  background-color: $colorSkinPrimaryLightest;
  color: $colorTextWhite;
  border-bottom: 2px solid rgba($colorBorder, 0.4);
}

.hero__content {
  padding: 10px 0;
  text-align: center;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeTablet) {
    padding: 40px 0;
  }
}

.hero__title {
  color: $colorTextWhite;
  margin: 0 0 20px;

  /* Tablet Media Query */
  @include apply-to(min-width, $bodySizeMobileLarge) {
    //font-size: $fontSizeSuperSizeMe;
  }
}

.hero__subtitle {
  color: $colorTextWhite;
  margin: 0;
  margin-top: 6px;
}

.hero__parenthetical {
  color: $colorTextLight;
  font-size: $fontSizeSmall;
  font-style: italic;
  font-weight: 700;
  margin-top: 5px;
  text-transform: lowercase;
}
