<main>

  <h1>KYLE CLARK</h1>
  <h4>Software Engineer</h4>
  <p><em>Sports Afficianado & Data Science Enthusiast</em></p>
  <button>Learn More</button>

  <h2>ABOUT</h2>
  <p>My dream job is to be involved in the basketball decision-making process
  for the Phoenix Suns. My slightly-more-attainable goal is to work anywhere
  in the sports analytics domain or within the machine learning technology space.</p>
  <button>Download my CV</button>

  <projects-list [projects]="projects"></projects-list>

  <h2>MUSINGS</h2>

  <p>
  [ Headline
    description
    <sm>dates</sm>
    LINK ICONS ]
  </p>

  <h2>GET IN TOUCH</h2>
  <p>
  github | twitter | linkedin
  ballcruncher | ballcruncher blog
  </p>

</main>
