<herospace></herospace>

<div class="container">

  <div class="content-container">

    <!--
    <h1>KYLE CLARK</h1>
    <h4>Software Engineer</h4>
    <p><em>Sports Afficianado & Data Science Enthusiast</em></p>
  -->


    <h2>ABOUT</h2>
    <p>I am 30 years old and married to a beautiful wife with two dogs. I was born in Arizona and work locally at Carvana as a software developer.<p>
    <p>My personal passion is in data science with the myriad of learning opportunities through the sports analytics domain or within the machine learning technology space.</p>
    <p>My dream job is to work in the basketball operations for the Phoenix Suns.</p>

    <projects-list [projects]="projects"></projects-list>

    <!-- <h2>MUSINGS</h2>

    <p>
    [ Headline
      description
      <sm>dates</sm>
      LINK ICONS ]
    </p> -->

    <h2>GET IN TOUCH</h2>
    <p>
    github | twitter | linkedin
    ballcruncher | ballcruncher blog
    </p>

  </div>

</div>
