<div class="container about">

  <div class="content-container">

    <div class="content about-content">
      <div class="about-block-desc">

        <h1>Kyle Clark</h1>
        <h4>Software Engineer</h4>
        <h5>aspiring data scientist</h5>
        <button>Explore Projects</button>

      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="content-container">

    <!--
    <h1>KYLE CLARK</h1>
    <h4>Software Engineer</h4>
    <p><em>Sports Afficianado & Data Science Enthusiast</em></p>
  -->


    <h2>ABOUT</h2>
    <p>My dream goal is to be involved in the basketball operations
    for the Phoenix Suns. My slightly-more-attainable goal is to work anywhere
    in the sports analytics domain or within the machine learning technology space.</p>
    <button>Download my CV</button>

    <projects-list [projects]="projects"></projects-list>

    <!-- <h2>MUSINGS</h2>

    <p>
    [ Headline
      description
      <sm>dates</sm>
      LINK ICONS ]
    </p> -->

    <h2>GET IN TOUCH</h2>
    <p>
    github | twitter | linkedin
    ballcruncher | ballcruncher blog
    </p>

  </div>

</div>
